<div class="landing-wrapper">
  
  <main class="hero-section">

    <div class="center-content">

      <h1>
        {{ i18n.t('hero.title-1') }}<br>
        {{ i18n.t('hero.title-2') }}<br>
        <span class="italic-line">{{ i18n.t('hero.title-3') }}</span>
      </h1>
      
      <div class="subtitle-wrapper">
        <om-typewriter *ngIf="isBrowser; else staticTitle"
          [words]="subtitleWords"
          [writeDelay]="50"
          [writeSpeed]="80"
        ></om-typewriter>

        <ng-template #staticTitle>
          <span>{{ i18n.t('hero.subtitle') }}</span>
        </ng-template>
      </div>
      
    </div>

    <div class="floating-images" 
     [style.transform]="'translate(' + moveX + 'px, ' + moveY + 'px)'">
  
      <div class="img-card pos-1" [routerLink]="['/work', 'track-and-field']">
        <img src="images/track/running.webp" alt="Runner">
      </div>

      <div class="img-card pos-2" [routerLink]="['/work', 'circuit-paul-ricard']">
        <img src="images/circuit/ferrari.webp" alt="Ferrari">
      </div>

      <div class="img-card pos-3" [routerLink]="['/work', 'landscape']">
        <img src="images/landscape/landscape.webp" alt="Landscape">
      </div>

      <div class="img-card pos-4" [routerLink]="['/work', 'sunset-bike']">
        <img src="images/bike/sunset-bike.webp" alt="Cyclist">
      </div>

      <div class="img-card pos-5" [routerLink]="['/work', 'french-elite-championship']">
        <img src="images/elite/track.webp" alt="Track & Field">
      </div>

    </div>
  </main>
</div>