.content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 100vw;
      height: 100vh;
h1, h2 {
    position: relative;
    z-index: 1;
    font-weight: bold;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
        to bottom,
        #F3F8F1,
        rgba(235, 235, 235, 0.5) 100%
    );
    }
}

.title { 
    font-family: 'Bebas Neue', sans-serif;
    font-size: 12rem;
}

.subtitle {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5rem;
}

om-silk {
    position: absolute;
    width: 100%;
    height: 100vh;
}