<div class="landing-wrapper">
  
  <img src="images/topo-black.png" class="background-img" alt="background">

  <main class="hero-section">

    <div class="center-content">

      <h1>
        {{ i18n.t('hero.title-1') }}<br>
        {{ i18n.t('hero.title-2') }}<br>
        <span class="italic-line">{{ i18n.t('hero.title-3') }}</span>
      </h1>
      
      <div class="subtitle-wrapper">
        <om-typewriter *ngIf="isBrowser; else staticTitle"
          [words]="subtitleWords"
          [writeDelay]="50"
          [writeSpeed]="80"
        ></om-typewriter>

        <ng-template #staticTitle>
          <span>{{ i18n.t('hero.subtitle') }}</span>
        </ng-template>
      </div>
      
    </div>

    <div class="floating-images" 
         [style.transform]="'translate(' + moveX + 'px, ' + moveY + 'px)'">
      
      <div class="img-card pos-1">
        <img src="images/running.jpg" alt="Runner">
      </div>
      <div class="img-card pos-2">
        <img src="images/ferrari1.jpg" alt="Ferrari">
      </div>
      <div class="img-card pos-3">
        <img src="images/landscape.jpg" alt="Landscape">
      </div>
      <div class="img-card pos-4">
        <img src="images/sunset-bike.jpg" alt="Cyclist">
      </div>
      <div class="img-card pos-5">
        <img src="images/track.jpg" alt="Track & Field">
      </div>

    </div>

  </main>
</div>