.gallery-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.gallery {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.gallery-item {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 250px;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-out;
  will-change: transform;
}