.content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      min-width: screen-width;
      min-height: 100dvh;
      margin: 0;
h1, h2 {
    position: relative;
    z-index: 1;
    font-weight: bold;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
        to bottom,
        #ffffff 0,
        rgba(235, 235, 235, 0.3) 100%
    );
    }
}

.title { 
    font-family: 'Bebas Neue', sans-serif;
    font-size: 12rem;
}

.subtitle {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5rem;
}
om-steel-beams {
    position: absolute;
    width: 100%;
    height: 100%;
}